// @background: rgb(40, 44, 52);
// @background: rgb(60, 58, 62);
@background: rgb(46, 51, 58);

@header-background: #000;

@alteration-intensity: 10%;
@click-intensity: 30%;

@menu-button-color: white;
@menu-button-hover-color: lighten(@menu-color, @alteration-intensity);
// @menu-color: rgb(42,63,84);
@menu-color: rgb(33,37,43);
@menu-item-font-color: white;
@menu-item-hover-color: lighten(@menu-color, @alteration-intensity);
@menu-item-click-color: lighten(@menu-color, @click-intensity);


@card-text-color: white;
@card-background: @menu-color;
@sensor-card-hover-color: lighten(@menu-color, @alteration-intensity);
