@theme: "dark";
// @theme: "light";

@import "themes/@{theme}.less";

@menu-animation-speed: 200ms;
@hover-animation-speed: 300ms;
@click-animation-speed: 10ms;
@title-bar-height: 70px;
@menu-width: 300px;
@menu-padding: 20px;
@card-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
// @card-shadow:0;
@card-margin: 10px;
@device-width: 1920px;

@sensor-card-height: 150px;
@sensor-card-width: 214px;
@chart-card-height: 500px;
@chart-card-width: 1150px;
@chart-settings-card-width: 450px;


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: @background;
}

.invisible { display:none; }

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    @media(min-width: 1px){ flex-direction: column; }
    @media(min-width: @device-width){ flex-direction: row; }
}

.header {
    display: flex;
    flex: 1 100%;
    align-items: center;
    justify-content: space-between;
    background: @header-background;
    height: @title-bar-height;
    padding-left:20px;
    padding-right:20px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    #menu-button {


        color: @menu-button-color;
        padding: 10px;
        cursor: pointer;

        &:hover { color: @menu-button-hover-color; }
    }

    #system-name {
        display: flex;
        align-items: center;
        color: @menu-button-color;

        img{
            padding-left: 20px;
            height: 30px;
            width: 30px;
        }
    }
}

.navigation-menu {
    background:blue;
    background-color: @menu-color;
    padding-top: @menu-padding;
    padding-bottom: @menu-padding;

    -webkit-transition: all @menu-animation-speed ease-in-out;
    -moz-transition: all @menu-animation-speed ease-in-out;
    -o-transition: all @menu-animation-speed ease-in-out;
    transition: all @menu-animation-speed ease-in-out;

    @media(min-width: 1px){
        flex-basis: 100%;
        max-width:100%;
        // max-height: auto;
    }
    @media(min-width: @device-width){
        flex-basis: @menu-width;
        max-width:@menu-width;
        height: calc(100vh - @title-bar-height - @menu-padding - @menu-padding);
    }

    .item {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        display: flex;
        align-items: center;
        color: @menu-item-font-color;
        cursor: pointer;
        padding: 15px 20px;

        -webkit-transition: all @hover-animation-speed ease-in-out;
        -moz-transition: all @hover-animation-speed ease-in-out;
        -o-transition: all @hover-animation-speed ease-in-out;
        transition: all @hover-animation-speed ease-in-out;

        &:hover {
            background-color: @menu-item-hover-color;
        }

        &:active {
            -webkit-transition: all @click-animation-speed ease-in-out;
            -moz-transition: all @click-animation-speed ease-in-out;
            -o-transition: all @click-animation-speed ease-in-out;
            transition: all @click-animation-speed ease-in-out;
            background-color: @menu-item-click-color;
        }

        .text {
            display: inline-block;
            padding-left: 10px;
        }
    }
}

.menu-hidden{
    -webkit-transition: all @menu-animation-speed ease-in-out;
    -moz-transition: all @menu-animation-speed ease-in-out;
    -o-transition: all @menu-animation-speed ease-in-out;
    transition: all @menu-animation-speed ease-in-out;
    flex-basis: 0px;
    max-width:0;
}

.content {
    display: flex;
    flex: 0 100%;
    flex-direction: column;
    // border: 2px solid red;
    align-content: flex-start;

    .sensor-row {
        display: flex;
        flex-flow: row wrap;
        @sensor-card-height
        @media(min-width: 1px){ flex-basis: 100%; }
        @media(min-width: @device-width){
            height: @sensor-card-height + @card-margin + @card-margin;
            justify-content: center;
        }
    }

    .chart-row{
        display: flex;
        flex-flow: row wrap;
        // border: 2px solid blue;
        @sensor-card-height
        @media(min-width: 1px){ flex-basis: 100%; }
        @media(min-width: @device-width){
            height: @chart-card-height + @card-margin + @card-margin;
            justify-content: center;
        }
    }

    .card {
        margin: @card-margin;
        border-radius: 5px;
        background: @card-background;
        color: @card-text-color;
        box-shadow: @card-shadow;
    }

    .sensor-card {
        display: flex;
        height: @sensor-card-height;
        cursor: pointer;

        @media(min-width: 1px){ flex: 1 100%; }
        @media(min-width: @device-width){ max-width: @sensor-card-width;}

        &:hover {
            -webkit-transition: background @hover-animation-speed ease-in-out;
            -moz-transition: background @hover-animation-speed ease-in-out;
            -o-transition: background @hover-animation-speed ease-in-out;
            transition: background @hover-animation-speed ease-in-out;
            background: @sensor-card-hover-color;
        }

        &:active {
            -webkit-transition: background @click-animation-speed ease-in-out;
            -moz-transition: background @click-animation-speed ease-in-out;
            -o-transition: background @click-animation-speed ease-in-out;
            transition: background @click-animation-speed ease-in-out;
            background-color: @menu-item-click-color;
        }
    }

    .chart-settings-card {
        display: flex;
        height: @chart-card-height;

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

        @media(min-width: 1px){ flex: 1 100%; }
        @media(min-width: @device-width){ max-width: @chart-settings-card-width;}
    }

    .chart-card{
        display: flex;
        justify-content: center;
        // height: 200px;
        // width: 500px;

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        // padding:10px;
        //
        @media(min-width: 1px){ flex: 1 100%; }
        @media(min-width: @device-width){ max-width: @chart-card-width;}

        .chart-canvas{
            width: 100px;
            height: 100px;
        }
        // canvas {
        //     width: 100px;
        //     height: 200px;
        // }
    }
}
